* {
    -webkit-tap-highlight-color: transparent;
}
.AllComponents{
    position: relative;
    background-color: #0d0c0c;
}
.opacity{
    opacity: 0.2;
}
.page{
    transition: 10s;
}
.page-enter{
    opacity: 0;
    transform:scale(0.1);
    transition: 10s;
}
.page-enter-active{
    transition: 10s;
    opacity: 1;
    transform: translateX(0);
    transition: opacity 10s, transform 10s;
}
.page-exit{
    transition: 10s;
    opacity: 1;
}
.page-exit-active{
    transition: 10s;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 10s, transform 10s;
}
